@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Borel&family=Comfortaa:wght@400;600&family=Quicksand:wght@300;600&display=swap');

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}


html, body{
    background-color: black;
}
html, body ::selection{
    background-color: white;
    color: rgb(30, 215, 96);
}
*{
    margin: 0;
    padding: 0;
}   

nav{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; 
    position: sticky;
}

nav ul{
    height: 65px;
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

nav ul li{
    padding: 0 10px;
}

.buttons a{
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.1s ease-in;
}

.buttons a:hover{
    color: rgb(30, 215, 96);
}

.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img{
    padding: 0 0.5px;
}

.brand span{
    font-size: 20px;
}

.container{
    /* min-height: 72vh;
    max-height: 72vh; */
    max-height: 72vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    margin: 30px auto;
    padding: 34px;
    width: 70%;
    border-radius: 20px;
    background-image: url(vU3JTB6.gif);
    background-size: cover;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation: transitionIn 0.75s;
}

.container::-webkit-scrollbar{
    display: none;
}



.container h2{
    font-family: 'Barlow', sans-serif;
}

.bottom{
    bottom: 0;
    position: sticky;
    height: 100px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    /* gap: 20px; */
}

.icons i{
    cursor: pointer;
    padding: 15px;
}

.songcontainer{
    margin-top: 40px;
}

.songitems{
    height: 50px;
    width: 30vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.692);
    color: aliceblue;
    margin: 12px 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    text-align: center;
}

.songitems img{
    width: 43px;
    margin: 0 23px;
    border-radius: 35px;   
}

.songitems i{
    padding: 5px;
    padding-left: 10px;
}

.songitems span{
    font-weight: bold;
}

.songplay{
    position: absolute;
    left: 15.5vw;
}

.songplay img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.timestamp{
    margin: 0 15px;
}
.timestamp i{
    cursor: pointer;
}

#progressBar{
    width: 70vw;
}

